/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("view4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #fcece0;
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.error-message {
    color: #ff6b6b;
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 1em;
}

.success-message {
    color: #4caf50;
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 1em;
}

/* Form Container Styles */
.login-container,
.register-container {
    background-color: #08080856;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

/* Input Group Styles */
.input-group {
    margin-bottom: 1.5em;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #d5d4d3;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #a15a4a;
    outline: none;
    box-shadow: 0 0 3px rgb(156, 78, 61);
}

/* Button Styles */
button {
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
    background-color: #e39684;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a15a4a;
}

/* Register Link Style */
.register {
    display: block;
    text-align: center;
    margin-top: 1em;
    color: #e39684;
    text-decoration: none;
    font-size: 0.9em;
}

.register:hover {
    text-decoration: underline;
}

/* Mobile Responsiveness */
@media (max-width: 480px) {

    .login-container,
    .register-container {
        padding: 1.5em;
    }
}